@import "../environment";

#home-container {
  font-family: var(--poppins);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  color: white;
}

.home-title {
  margin-bottom: 40px;
  font-size: 1.8vw;
  text-align: justify;
}

.home-title h1 {
  text-align: center;
}

.home-title p {
  font-size: 1.2vw;
}

.home-title h1:nth-child(2) {
  margin-bottom: 20px;
  text-align: center;
}

.home-button-section {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  #home-container {
    width: 100vw;
  }

  .home-title {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-title h1 {
    color: white;
    width: 100%;
    font-size: 25px;
  }

  .home-title p {
    color: #ffffff;
    width: 60vw;
    font-size: 15px;
  }
}
