.sideBarOption.active {
  border-left: 5px solid #1abf6b;
}

.sideBarOption {
  border-left: 5px solid transparent;
  width: 20vw;
}

.OptionimageTextDiv {
  margin-left: 20%;
}

.OptionimageTextDiv a {
  display: flex;
  align-items: center;
  height: 3em;
  color: white;
  text-decoration: none !important;
  font-family: var(--poppins);
}

.sideBarOption img {
  max-height: 50%;
  max-width: 50%;
}

.optionText {
  margin-left: 20%;
  font-weight: 600;
}
