@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Smooch+Sans:wght@400;700&display=swap');

*{
    font-family: 'Smooch Sans','Poppins', sans-serif;
}

.LoginMainDiv {
    background: url(../assets/Images/HandGrowingPlantBG.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-right: 10%;
    padding-left: 10% ;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.Texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WelcomeText {
    font-weight: bold;
    color: #fff;
    font-size: 6.5rem;
}

.fields {
    margin-top: 20%;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.SignupRedirectDiv {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ClickHereLinkText {
    position: relative;
    margin-top: 5%;
}

.ClickHereLinkText > a{
    color: #fff;
    font-size: small;
    font-family: 'poppins';
    font-weight: bold;
    text-decoration: none;
}

.ClickHereLinkText::before {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background-color: #F0EDFF;
    position: absolute;
    left: -165px;
    top: 10px;
    opacity: 0.5;
}

.ClickHereLinkText::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background-color: #F0EDFF;
    position: absolute;
    right: -165px;
    top: 10px;
    opacity: 0.5;
}