.CustomBtn {
    width: 400px;
    height: 2.3em;
    margin-bottom: 0.5em;
    background: var(--secondary-color);
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
   
.CustomBtn:hover {
    color: white;
}
   
.CustomBtn:after {
    content: "";
    background: var(--primary-color);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
   
.CustomBtn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}