.InputFields {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    min-width: 400px;
}

.FieldContainer {
    display: flex;
    padding: 10px;
    min-width: 100%;
}

.Icon img{
    margin-top: 5px;
    padding-right: 10px;
    height: 39px;
    width: 39px;
}

.Field {
    height: 100%;
    width: 90%;
    border: none;
    color: #000;
    font-size: larger;
}

textarea:focus, .Field:focus{
    outline: none;
}

.Field::placeholder{
    color: #000;
    font-family: 'Poppins';
    font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.invalid {
    border: 3px rgb(224, 55, 55) solid;
}

.invalid input{
    color: red;
}
  