.InputFields {
    min-width: 400px;
    font-family: var(--smooch-sans);
}

.FieldContainer {
    max-height: 4em;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 3px rgba(224, 55, 55, 0) solid;
    padding: 10px;
    min-width: 100%;
}

.Icon img{
    margin-top: 5px;
    padding-right: 10px;
    height: 39px;
    width: 39px;
}

.Field {
    width: 90%;
    height: 100%;
    border: none;
    color: #000;
    font-size: medium;
    background-color: white;
    font-family: var(--smooch-sans);
}

textarea:focus, .Field:focus{
    outline: none;
}

.Field::placeholder{
    color: #000;
    font-family: var(--smooch-sans);
    font-size: medium;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.invalid {
    border: 3px rgb(224, 55, 55) solid;
}

.invalid input{
    color: red;
}

.ValidationMessage {
    max-width: 400px;
    color: #fff;
    font-size: large;
    margin-left: 25px;
}

.ValidationMessage {
    white-space: pre-line;
    content:"\A";
}
  