.UserSettingsMainDiv {
  font-family: var(--poppins);
}

.MainSettingsDiv {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fourinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.InputFields {
  width: 300px;
  min-width: 150px !important;
}

.InputFields img {
  display: none !important;
}

.InputFields > div {
  border-radius: 12px !important;
}

label {
  padding-left: 10px;
  color: #999999;
}
