.MainSignupBg {
  background: url(../assets/Images/HandGrowingPlantBG.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--smooch-sans);
  color: white;
}

.LoginRedirectDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.StepText {
  font-size: 5em;
  color: #fff;
  font-weight: bold;
}

.Signupfields {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 10%;
}

.WeAreGladText {
  font-family: var(--poppins);
}

.ClickHereLinkText a {
  cursor: pointer;
}

@media (max-width: 767px) {
  .LoginRedirectDiv > .ClickHereLinkText::before {
    width: 150px;
    background-color: white;
    left: -165px;
    opacity: 1;
  }
  .LoginRedirectDiv > .ClickHereLinkText::after {
    width: 60px;
    background-color: white;
    right: -75px;
    opacity: 1;
  }
}
