@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto&family=Smooch+Sans:wght@600&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --smooch-sans: "Smooch sans", sans-serif;
  --primary-color: rgba(39, 45, 66, 1);
  --secondary-color: rgb(5, 103, 51);
  --primary-bg-color: rgba(20, 27, 43, 1);
}
